<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547003165052-sqgfu8j6thnddc4vd5idm5i2ng0kep39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547003165052-sqgfu8j6thnddc4vd5idm5i2ng0kep39</string>
	<key>API_KEY</key>
	<string>AIzaSyByoD_N1eqljTXYrZ9UDLNVC6ZTqUFbCv0</string>
	<key>GCM_SENDER_ID</key>
	<string>547003165052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cafv.TMDBView</string>
	<key>PROJECT_ID</key>
	<string>tmdbview</string>
	<key>STORAGE_BUCKET</key>
	<string>tmdbview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547003165052:ios:b5328cd5a1dda3be1adcf9</string>
</dict>
</plist>